<?xml version="1.0" encoding="utf-8"?>
<ShamWOW>
  <version>4.3.15</version>
  <debug>true</debug>
  <useghostwolf>true</useghostwolf>
  <safedistanceforghostwolf>50</safedistanceforghostwolf>
  <restminmana>49</restminmana>
  <restminhealth>60</restminhealth>
  <needheal>50</needheal>
  <emergencyhealth>35</emergencyhealth>
  <emergencymana>15</emergencymana>
  <needlifeblood>70</needlifeblood>
  <needshamanisticrage>100</needshamanisticrage>
  <needthunderstorm>65</needthunderstorm>
  <needmanatide>65</needmanatide>
  <trinkathealth>50</trinkathealth>
  <trinkatmana>65</trinkatmana>
  <usebandages>true</usebandages>
  <totemrecalldistance>30</totemrecalldistance>
  <twistwatershield>25</twistwatershield>
  <twistlightningshield>50</twistlightningshield>
  <disablemovement>false</disablemovement>
  <disabletargeting>true</disabletargeting>
  <meleecombatbeforelevel10>false</meleecombatbeforelevel10>
  <interruptstyle>All</interruptstyle>
  <detectimmunities>true</detectimmunities>
  <waterwalking>true</waterwalking>
  <pve_combatstyle>Normal</pve_combatstyle>
  <pve_typeofpull>Auto</pve_typeofpull>
  <pve_stressonly_feralspirit>true</pve_stressonly_feralspirit>
  <pve_stressonly_elementaltotems>true</pve_stressonly_elementaltotems>
  <pve_stressonly_dps_racials>false</pve_stressonly_dps_racials>
  <pve_stressonly_bloodlust>true</pve_stressonly_bloodlust>
  <pve_stressonly_totembar>false</pve_stressonly_totembar>
  <pve_stresslevelsabove>3</pve_stresslevelsabove>
  <pve_stressfulmobcount>2</pve_stressfulmobcount>
  <pve_totemearth>Auto</pve_totemearth>
  <pve_totemfire>Auto</pve_totemfire>
  <pve_totemwater>Auto</pve_totemwater>
  <pve_totemair>Auto</pve_totemair>
  <pve_mainhand>Auto</pve_mainhand>
  <pve_offhand>Auto</pve_offhand>
  <pvp_combatstyle>HealingOnly</pvp_combatstyle>
  <pvp_totemearth>Auto</pvp_totemearth>
  <pvp_totemfire>Auto</pvp_totemfire>
  <pvp_totemwater>Auto</pvp_totemwater>
  <pvp_totemair>Auto</pvp_totemair>
  <pvp_mainhand>Auto</pvp_mainhand>
  <pvp_offhand>Auto</pvp_offhand>
  <pvp_cleansepriority>Low</pvp_cleansepriority>
  <pvp_purgepriority>Low</pvp_purgepriority>
  <pvp_hexicon>Triangle</pvp_hexicon>
  <pvp_prepwaterbreathing>true</pvp_prepwaterbreathing>
  <pvp_prepwaterwalking>true</pvp_prepwaterwalking>
  <pvp_heal_healingwave>90</pvp_heal_healingwave>
  <pvp_heal_chainheal>88</pvp_heal_chainheal>
  <pvp_heal_healingrain>68</pvp_heal_healingrain>
  <pvp_heal_riptide>89</pvp_heal_riptide>
  <pvp_heal_greaterhealingwave>70</pvp_heal_greaterhealingwave>
  <pvp_heal_ohshoot>35</pvp_heal_ohshoot>
  <pvp_heal_healingsurge>55</pvp_heal_healingsurge>
  <pvp_heal_unleashelements>69</pvp_heal_unleashelements>
  <pvp_heal_tidalwaves>true</pvp_heal_tidalwaves>
  <pvp_heal_cleanse>true</pvp_heal_cleanse>
  <pvp_heal_pets>false</pvp_heal_pets>
  <pvp_heal_searchrange>60</pvp_heal_searchrange>
  <raf_combatstyle>HealingOnly</raf_combatstyle>
  <raf_groupoffheal>40</raf_groupoffheal>
  <raf_usethunderstorm>true</raf_usethunderstorm>
  <raf_usebloodlustonbosses>true</raf_usebloodlustonbosses>
  <raf_saveferalspiritforbosses>true</raf_saveferalspiritforbosses>
  <raf_saveelementaltotemsforbosses>true</raf_saveelementaltotemsforbosses>
  <raf_followclosely>true</raf_followclosely>
  <raf_totemearth>Auto</raf_totemearth>
  <raf_totemfire>Auto</raf_totemfire>
  <raf_totemwater>Auto</raf_totemwater>
  <raf_totemair>Auto</raf_totemair>
  <raf_cleansepriority>Low</raf_cleansepriority>
  <raf_purgepriority>Low</raf_purgepriority>
  <raf_hexicon>Triangle</raf_hexicon>
  <raf_bindicon>Triangle</raf_bindicon>
  <raf_heal_healingwave>90</raf_heal_healingwave>
  <raf_heal_chainheal>88</raf_heal_chainheal>
  <raf_heal_healingrain>0</raf_heal_healingrain>
  <raf_heal_riptide>89</raf_heal_riptide>
  <raf_heal_greaterhealingwave>70</raf_heal_greaterhealingwave>
  <raf_heal_ohshoot>30</raf_heal_ohshoot>
  <raf_heal_healingsurge>55</raf_heal_healingsurge>
  <raf_heal_unleashelements>69</raf_heal_unleashelements>
  <raf_heal_tidalwaves>true</raf_heal_tidalwaves>
  <raf_heal_cleanse>true</raf_heal_cleanse>
  <raf_heal_pets>false</raf_heal_pets>
  <raf_heal_searchrange>75</raf_heal_searchrange>
  <raf_followatrange>25</raf_followatrange>
  <raf_healstyle>Auto</raf_healstyle>
</ShamWOW>