<?xml version="1.0" encoding="utf-8"?>
<ItemForAura>
  <!--=======================================================================
.CONFIG  -  This is the Config File For Item for Aura - Questhelper

XML file containing settings to customize in the Item for Aura - Questhelper Plugin
It is STRONGLY recommended you use the Configuration UI to change this
file instead of direct changein it here.
========================================================================-->
  <Active1>True</Active1>
  <Active2>True</Active2>
  <Active3>True</Active3>
  <Active4>True</Active4>
  <Active5>True</Active5>
  <Active6>True</Active6>
  <Item1>58165</Item1>
  <Item2>38619</Item2>
  <Item3>38512</Item3>
  <Item4>38622</Item4>
  <Item5>38623</Item5>
  <Item6>38624</Item6>
  <Aura1>79651</Aura1>
  <Aura2>54178</Aura2>
  <Aura3>54176</Aura3>
  <Aura4>51623</Aura4>
  <Aura5>51623</Aura5>
  <Aura6>51623</Aura6>
  <Quest11>0</Quest11>
  <Quest21>0</Quest21>
  <Quest31>0</Quest31>
  <Quest41>0</Quest41>
  <Quest51>0</Quest51>
  <Quest61>0</Quest61>
  <Quest12>0</Quest12>
  <Quest22>0</Quest22>
  <Quest32>0</Quest32>
  <Quest42>0</Quest42>
  <Quest52>0</Quest52>
  <Quest62>0</Quest62>
  <Quest13>0</Quest13>
  <Quest23>0</Quest23>
  <Quest33>0</Quest33>
  <Quest43>0</Quest43>
  <Quest53>0</Quest53>
  <Quest63>0</Quest63>
  <Combat1>False</Combat1>
  <Combat2>False</Combat2>
  <Combat3>False</Combat3>
  <Combat4>False</Combat4>
  <Combat5>False</Combat5>
  <Combat6>False</Combat6>
</ItemForAura>